@{
    ViewData["Title"] = "Pending Task";
}

<div class="container-fluid">
    <div class="row flex-nowrap">

        <partial name="_SideBar" />

        <div class="col py-3">

            <partial name="_NavBar" />

            <h3>Pending Task</h3>
        </div>

    </div>
</div>